body {
    background-image: url("images//bg.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}


.split {
    justify-content: center;
    align-items: center;
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center;

    font-weight: bold;
    font-style: italic;
    margin-top: 50px;
    color: white;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
}

.left {
    width: 20%;
    left: 0;
}

.right {
    width: 80%;
    right: 0;
}



.btn-group button {
    margin-top: 40px;

    justify-content: center;
    align-items: center;

    color: white;

    cursor: pointer;
}

.banitem {
    background-image: url("images//ban_item.png");
    filter: grayscale(100%);
    width: 350px;
    height: 80px;

    transition: background-image 3s;
    background-size: cover;
    margin: auto;
}

#slctAscent {
    background-image: url("images//ban_ascent.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

#slctBind {
    background-image: url("images//ban_bind.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

#slctBreeze {
    background-image: url("images//ban_breeze.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

#slctFracture {
    background-image: url("images//ban_fracture.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

#slctHaven {
    background-image: url("images//ban_haven.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

#slctIcebox {
    background-image: url("images//ban_icebox.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

#slctLotus {
    background-image: url("images//ban_lotus.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

#slctPearl {
    background-image: url("images//ban_pearl.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

#slctSplit {
    background-image: url("images//ban_split.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}
#slctSunset {
    background-image: url("images//ban_sunset.png");
    background-size: cover;
    width: 275px;
    height: 64px;
}

.pnbs {
    justify-content: center;
    align-items: center;
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center;

    font-weight: bold;
    font-style: italic;
    margin-top: 25px;
    color: white;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    margin: auto;


}

.bans {
    width: 25%;
    margin: auto;
    margin-top: 154px;
    margin-left: 30px;
}

.picks {

    margin-left: 30%;
    margin-top: 154px;

}

.pickitem {
    background-image: url("images//pick_item.png");
    background-size: cover;

    transition: background-image 3s;
    width: 250px;
    height: 750px;
}